{% load static %}

<div class="footer">
  <div class="container">
    <div class="row m-2">
      <div class="col-lg-6">
        <p class="display-7 ms-0 ">
          © 2024 Copyright:
          <a class="text-light" href="https://www.linkedin.com/in/katia-vela-654b45208/">Katia Vela</a>
        </p>
      </div>
      <div class="col-lg-6 text-right">
        <ul class="list-inline text-right">
          <li class="list-inline-item px-3 display-7">
            <a href="{% url 'about' %}" class="text-white">About</a>
          </li>
          <li class="list-inline-item px-3 display-7">
            <a href="{% url 'movie_list' %}" class="text-white">Movies</a>
          </li>
          <li class="list-inline-item px-3 display-7">
            <a href="{% url 'contact'%}" class="text-white">Contact</a>
          </li>
          <li class="list-inline-item px-3 display-7">
            <a href="#" class="text-white">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;  
  }

 
</style>
