{% extends 'base/index.html' %}
{%load static%}

{% block content %}

<style>
    .cid-u2aXRbXWXf {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-color: transparent;
    }
    .cid-u2aXRbXWXf .mbr-fallback-image.disabled {
      display: none;
    }
    .cid-u2aXRbXWXf .mbr-fallback-image {
      display: block;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    @media (max-width: 767px) {
      .cid-u2aXRbXWXf .card-content-text {
        padding: 1.5rem 1.5rem 0 1.5rem;
      }
    }
    @media (min-width: 768px) {
      .cid-u2aXRbXWXf .card-content-text {
        padding: 2.25rem 2.25rem 0 2.25rem;
      }
    }
    @media (min-width: 992px) {
      .cid-u2aXRbXWXf .card-content-text {
        padding: 4rem 4rem 1rem 4rem;
      }
    }
    .cid-u2aXRbXWXf .card-wrapper {
      background: #ffffff;
    }
    .cid-u2aXRbXWXf .mbr-text,
    .cid-u2aXRbXWXf .mbr-section-btn {
      color: #000000;
      text-align: left;
    }
    .cid-u2aXRbXWXf .card-title,
    .cid-u2aXRbXWXf .card-box {
      text-align: left;
      color: #000000;
    }
    </style>


    <section class="article9 cid-u2aXRbXWXf" id="about-me-9-u2aXRbXWXf" style="background-color:Gainsboro;">
      <div class="container" >
          <div class="row justify-content-center">
              <div class="card col-md-12 col-lg-10">
                  <div class="card-wrapper rounded-5 p-2">
                      <div class="card-content-text">
                          <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
                              <strong>Rreth Click Plex</strong>
                          </h3>
                          <div class="row card-box align-left">
                              <div class="item features-without-image col-12">
                                  <div class="item-wrapper">
                                      <p class="mbr-text mbr-fonts-style display-7">Mirë se vini në Click Plex, ku magjia e kinemasë bëhet e gjallë. Ne jemi të pasionuar për krijimin e përvojave të paharrueshme të filmit për audiencën tonë.</p>
                                  </div>
                              </div>
                              <div class="item features-without-image col-12">
                                  <div class="item-wrapper">
                                      <p class="mbr-text mbr-fonts-style display-7">Misioni ynë është të ju transportojë në botëra të reja, të nxjerrë ndjenja të fuqishme dhe të ndezë imagjinatën tuaj përmes fuqisë së tregimit dhe artit vizual.</p>
                                  </div>
                              </div>
                              <div class="item features-without-image col-12">
                                  <div class="item-wrapper">
                                      <p class="mbr-text mbr-fonts-style display-7">Bashkohuni me ne në këtë udhëtim emocionues nëpër ekranin e argjendtë, ku çdo kaderë është një veprë e mrekullueshme që pret të zbulohet.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="image-wrapper d-flex justify-content-center mt-3">
                          <img src="{% static 'image/images/photo-1595769816263-9b910be24d5f.jpeg' %}" class="rounded-5">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="list1 cid-u2aXRc0DDu" id="faq-1-u2aXRc0DDu faq" style="background-color:Gainsboro;">
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="mbr-section-head align-left mb-5">
                        <h3 class="mbr-section-title mb-2 mbr-fonts-style display-2">
                            <strong>FAQ</strong>
                        </h3>
                    </div>
                    <div id="bootstrap-accordion_0" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_0" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                        Si mund të blej bileta?
                                    </h6>
                                    <span class="sign mbr-iconfont"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                            </div>
                            <div id="collapse1_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        Mund të blini lehtësisht bileta online përmes faqes sonë interneti ose në bllokun e biletave. Zgjidhni filmin tuaj të preferuar, orën e shfaqjes dhe vendin, dhe jeni gati!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 ">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_0" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                        Ka zbritje për grupet?
                                    </h6>
                                    <span class="sign mbr-iconfont"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                            </div>
                            <div id="collapse2_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        Po, ofrojmë tarifa speciale për grupet me 10 persona apo më shumë. Mblidhni miqtë tuaj, familjen, ose kolegët për një eksperiencë magjike kinemaje!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_0" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                        A mund të sjell ushqim dhe pije nga jashtë?
                                    </h6>
                                    <span class="sign mbr-iconfont"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                            </div>
                            <div id="collapse3_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        Për të siguruar një përvojë të këndshme për të gjithë vizitorët, ushqimi dhe pija nga jashtë nuk lejohen. Megjithatë, ofrojmë një gamë të gjerë të ëmbëlsirave dhe pijeve të shijshme në stendën tonë të koncesionit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_0" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                        A ka vend parkimi?
                                    </h6>
                                    <span class="sign mbr-iconfont"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                            </div>
                            <div id="collapse4_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        Po, kemi objekte parkimi të përshtatshme për të gjithë shikuesit e filmit. Qëndroni të qetë, vizita juaj në ClickPlex do të jetë pa vështirësi dhe e këndshme!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_0" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                        Ofroni kartë dhurimi?
                                    </h6>
                                    <span class="sign mbr-iconfont"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                           
                              </div>
                              <div id="collapse5_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-7">
                                          Absolutisht! Përshëndetje të dashurit tuaj me kartën tonë ekskluzive dhuratë ClickPlex. Dhuratë e përsosur për çdo entuziast të filmit!
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  {% endblock %}
  